@model IEnumerable<codeFirst.Models.Student>
@using System.Linq

@{
    ViewData["Title"] = "Students";
}

<h1>Students</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Age</th>
            <th>Subjects</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model)
{
    <tr>
        <td>@item.Name</td>
        <td>@item.Age</td>
        <td>
            @if (item.Marks != null && item.Marks.Any())
            {
                <ul>
                    @foreach (var mark in item.Marks)
                    {
                        <li>@mark.Subject</li>
                    }
                </ul>
            }
            else
            {
                <span>No subjects</span>
            }
        </td>
        <td>
            <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info">Details</a>
            <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning">Edit</a>
            <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
        </td>
    </tr>
}
    </tbody>
</table>
